@charset "UTF-8";

* {margin:0;padding:0;border:0;vertical-align:middle;box-sizing:border-box;}
html, body {width:100%;height:100%;}
html {overflow-y:scroll;}
body {font:normal 14px/1 'Roboto';color:#626262;}
ul, li {list-style:none;}
a {color:#9b9b9b;text-decoration:none;}
h1,h2,h3,h4,h5,h6 {font-family:'Montserrat';}
.fixedclear::after {content:"";display:block;clear:both;}
.hide {display:none;}
.blind {display:block;text-indent:-2000px;overflow:hidden;}
header,main,footer,nav,section,aside {display:block;}
i,em,address {font-style:normal;}

/* skip */
#skip {z-index:2;position:absolute;top:0;left:0;width:100%;}
#skip li {width:100%;}
#skip li a {display:block;line-height:0;font-size:0;text-align:center;background:#232323;color:#fff;}
#skip li a:focus {line-height:50px;font-size:20px;}

#wrap {z-index:1;position:relative;width:100%;overflow:auto;}