@charset "UTF-8";

/* header */
#header {z-index:4;position:fixed;width:100%;height:auto;background:transparent;transition:all .6s;}
#header.addMousewheel {height:101px;}
#header.addMousewheelMobile {height:50px;background:rgba(255,255,255,0.95);}
#header:hover {background:rgba(255,255,255,0.99);}
#header .wrap {width:100%;margin:0 auto;}
#header.addMousewheel .wrap .gap {height:101px;}
#header.addMousewheelMobile .wrap .gap {height:50px;}
#header .wrap .gap {margin:0 30px;}

/* aside1 */
#header .wrap .gap .top {width:100%;}
#header .wrap .gap .top .left {float:left;}
#header .wrap .gap .top .left #left-aside {width:100%;}
#header .wrap .gap .top .left #left-aside ul {font-size:0;}
#header .wrap .gap .top .left #left-aside ul li {display:inline-block;padding-right:15px;}
#header .wrap .gap .top .left #left-aside ul li a {font-size:11px;line-height:45px;}
#header .wrap .gap .top .left #left-aside ul li a:hover {text-decoration:underline;}
#header .wrap .gap .top .left #left-aside ul li a:focus {text-decoration:underline;}

/* aside2 */
#header .wrap .gap .top .right {float:right;}
#header .wrap .gap .top .right #right-aside {width:100%;}
#header .wrap .gap .top .right #right-aside ul {font-size:0;}
#header .wrap .gap .top .right #right-aside ul li {display:inline-block;padding-left:15px;}
#header .wrap .gap .top .right #right-aside ul li a {font-size:11px;line-height:45px;}
#header .wrap .gap .top .right #right-aside ul li a:hover {text-decoration:underline;}
#header .wrap .gap .top .right #right-aside ul li a:focus {text-decoration:underline;}
#header .wrap .gap .top .right #right-aside ul li:last-child a {line-height:11px;}
#header .wrap .gap .top .right #right-aside ul li a i {display:inline-block;}

/* mobile-btn */
#header .wrap .gap .mid .mobile {display:none;position:absolute;top:17px;left:10px;width:20px;height:16px;}
#header .wrap .gap .mid .mobile .mobile-btn {position:absolute;top:0;left:0;display:block;width:100%;height:100%;}
#header .wrap .gap .mid .mobile .mobile-btn .mline {position:absolute;left:0;display:block;width:100%;height:2px;background:#777;transition:all .3s;}
#header .wrap .gap .mid .mobile .mobile-btn .mline1 {top:0;}
#header .wrap .gap .mid .mobile .mobile-btn.addClose .mline1 {top:50%;margin-top:-1px;transform:rotate(135deg);}
#header .wrap .gap .mid .mobile .mobile-btn .mline2 {top:50%;margin-top:-1px;}
#header .wrap .gap .mid .mobile .mobile-btn.addClose .mline2 {transform:scaleX(0);}
#header .wrap .gap .mid .mobile .mobile-btn .mline3 {bottom:0;}
#header .wrap .gap .mid .mobile .mobile-btn.addClose .mline3 {bottom:50%;margin-bottom:-1px;transform:rotate(-135deg);}

/* mobile-menu */
#header .wrap .gap .mid .mobile-menu {position:absolute;top:50px;left:-100%;display:none;width:100%;padding:10px;background:rgba(0,0,0,0.8);font-size:0;}
#header .wrap .gap .mid .mobile-menu div {display:inline-block;width:33.333%;}
#header .wrap .gap .mid .mobile-menu div > a {position:relative;display:block;font-size:11px;font-weight:700;line-height:35px;color:#fff;background:#000;}
#header .wrap .gap .mid .mobile-menu div > a.addMobileMenu {position:relative;display:block;font-size:11px;font-weight:700;line-height:35px;color:#000;background:#fff;}
#header .wrap .gap .mid .mobile-menu div > a.addMobileMenu:after {content:'';display:block;position:absolute;bottom:-3px;left:50%;margin-left:-3px;border:3px solid #fff;transform:rotate(45deg);}
#header .wrap .gap .mid .mobile-menu div > ul {position:absolute;width:100%;top:54.9px;left:0;background:rgba(0,0,0,0.8);padding:10px;padding-bottom:15px;text-align:left;}
#header .wrap .gap .mid .mobile-menu div:nth-child(1) > ul {display:block;height:271px;overflow-y:scroll;overflow-x:hidden;}
#header .wrap .gap .mid .mobile-menu div:nth-child(2) > ul {display:none;}
#header .wrap .gap .mid .mobile-menu div:nth-child(3) > ul {display:none;}
#header .wrap .gap .mid .mobile-menu div > ul > li {position:relative;}
#header .wrap .gap .mid .mobile-menu div > ul > li > a {display:block;font-size:11px;line-height:40px;color:#fff;padding:0 40px 0 20px;border-bottom:1px solid #555;}
#header .wrap .gap .mid .mobile-menu div > ul > li > a i {position:absolute;top:0;right:0;display:inline-block;width:40px;height:40px;line-height:40px;text-align:center;transition:all .3s;}
#header .wrap .gap .mid .mobile-menu div > ul > li > a i.addMobileSub {transform:rotate(180deg);}
#header .wrap .gap .mid .mobile-menu div > ul > li ul {display:block;}
#header .wrap .gap .mid .mobile-menu div > ul > li ul li {width:100%;}
#header .wrap .gap .mid .mobile-menu div > ul > li ul li a {display:block;font-size:11px;line-height:40px;color:#fff;padding:0 30px;border-bottom:1px solid #555;}

/* logo */
#header .wrap .gap .mid {position:relative;top:0;left:50%;width:384px;height:60px;transform:translateX(-50%);text-align:center;transition:top .5s}
#header.addMousewheel .wrap .gap .mid {top:-45px;}
#header .wrap .gap .mid .logo {display:inline-block;line-height:15px;}
#header .wrap .gap .mid .logo .logo-btn {display:inline-block;padding:10px 0;}
#header .wrap .gap .mid .logo .logo-btn img {width:auto;}

/* mobile-aside */
#header .wrap .gap .mid .mobile-aside {display:none;position:absolute;top:14px;right:10px;}
#header .wrap .gap .mid .mobile-aside ul {width:100%;}
#header .wrap .gap .mid .mobile-aside ul li {display:inline-block;padding-left:3px;}
#header .wrap .gap .mid .mobile-aside ul li a {display:block;}
#header .wrap .gap .mid .mobile-aside ul li a i {position:relative;font-size:18px;padding:2px 2px;color:#555;}
#header .wrap .gap .mid .mobile-aside ul li a .icon-bag {font-size:22px;padding:0;}
#header .wrap .gap .mid .mobile-aside ul li a .icon-bag:after {content:'0';position:absolute;top:6px;left:50%;transform:translateX(-50%);display:block;font-size:12px;color:#555;}

/* nav */
#header .wrap .gap .bot {position:relative;top:0;left:0;width:100%;transition:top .5s}
#header.addMousewheel .wrap .gap .bot {top:-45px;}
#header .wrap .gap .bot #nav {width:100%;}
#header .wrap .gap .bot #nav ul {font-size:0;text-align:center;}
#header .wrap .gap .bot #nav ul li {position:relative;display:inline-block;margin:0 1.116%;}
#header .wrap .gap .bot #nav ul li .main-btn {display:block;font-size:16px;font-weight:700;line-height:41px;color:#202020;letter-spacing:1px;}
#header .wrap .gap .bot #nav ul li .main-btn:after {content:"";display:block;border-bottom:1px solid #000;transform:scaleX(0);transition:all 0.3s ease-in-out;}
#header .wrap .gap .bot #nav ul li .main-btn:hover:after {transform:scaleX(1);}
#header .wrap .gap .bot #nav ul li .main-btn:focus:after {transform:scaleX(1);}
#header .wrap .gap .bot #nav ul li .sub {display:none;position:absolute;top:50px;left:50%;width:212px;transform:translateX(-50%);}
#header .wrap .gap .bot #nav ul li .sub:before {content:'';z-index:2;position:absolute;top:-3.5px;left:50%;margin-left:-4px;width:7px;height:7px;border-top:1px solid #eee;border-left:1px solid #eee;transform:rotate(45deg);}
#header .wrap .gap .bot #nav ul li .sub:after {content:'';z-index:1;position:absolute;top:-3px;left:50%;margin-left:-3.5px;border:3.5px solid rgba(255,255,255,0.95);transform:rotate(45deg);}
#header .wrap .gap .bot #nav ul li .sub ul {padding:5px;border:1px solid #eee;background-color:rgba(255,255,255,0.95);text-align:left;}
#header .wrap .gap .bot #nav ul li .sub ul li {display:block;margin:0 2%;}
#header .wrap .gap .bot #nav ul li .sub ul li a {display:block;font-size:11px;font-weight:500;line-height:30px;color:#666;padding:0 10px;transition:all 0.3s;}
#header .wrap .gap .bot #nav ul li .sub ul li a:hover {color:#fff;background:#b1b1b1;border-radius:3px;}
#header .wrap .gap .bot #nav ul li .sub ul li a:focus {color:#fff;background:#b1b1b1;border-radius:3px;}

/* main */
#main {z-index:2;position:relative;width:100%;}

/* section1 */
#main #section1 {width:100%;background:url(../img/section1_bg.jpg) no-repeat 50% 50%;background-size:cover;}
#main #section1 .wrap {position:relative;width:100%;height:100%;}
#main #section1 .wrap .container {position:absolute;top:50%;left:50%;transform:translateX(-50%) translateY(-50%);width:60%;}
#main #section1 .wrap .container .text-wrap {position:relative;text-align:center;}
#main #section1 .wrap .container .text-wrap h2 {font-size:30px;font-weight:700;line-height:1.25em;margin-bottom:5px;}
#main #section1 .wrap .container .text-wrap h2 br {display:none;}
#main #section1 .wrap .container .text-wrap p {font-size:14px;font-weight:700;line-height:1.25em;margin-bottom:30px;font-family:'NanumGothic';letter-spacing:-1px;}
#main #section1 .wrap .container .text-wrap span {display:block;width:242px;margin:0 auto;}
#main #section1 .wrap .container .text-wrap span a {display:block;font-size:12px;line-height:1.417em;padding:10px 20px;border:1px solid #000;transition:all .3s;}
#main #section1 .wrap .container .text-wrap span a:hover {background:#000;color:#fff;}
#main #section1 .wrap .container .text-wrap span a:focus {background:#000;color:#fff;}

/* section2 */
#main #section2 {width:100%;background:url(../img/section2_bg.jpg) no-repeat 50% 50%;background-size:cover;}
#main #section2 .wrap {position:relative;width:100%;height:100%;}
#main #section2 .wrap .container {position:absolute;top:50%;right:10%;transform:translateY(-50%);width:60%;}
#main #section2 .wrap .container .text-wrap {position:relative;text-align:right;}
#main #section2 .wrap .container .text-wrap h2 {font-size:30px;font-weight:700;line-height:1.25em;margin-bottom:5px;}
#main #section2 .wrap .container .text-wrap p {font-size:14px;font-weight:700;line-height:1.25em;margin-bottom:30px;font-family:'NanumGothic';letter-spacing:-1px;}
#main #section2 .wrap .container .text-wrap span {float:right;display:block;width:242px;text-align:center;}
#main #section2 .wrap .container .text-wrap span a {display:block;font-size:12px;line-height:1.417em;padding:10px 20px;border:1px solid #000;transition:all .3s;}
#main #section2 .wrap .container .text-wrap span a:hover {background:#000;color:#fff;}
#main #section2 .wrap .container .text-wrap span a:focus {background:#000;color:#fff;}

/* section3 */
#main #section3 {width:100%;background:url(../img/section3_bg.jpg) no-repeat 50% 50%;background-size:cover;}
#main #section3 .wrap {position:relative;width:100%;height:100%;}
#main #section3 .wrap .container {position:absolute;top:50%;left:50%;transform:translateX(-50%) translateY(-50%);width:60%;}
#main #section3 .wrap .container .text-wrap {position:relative;text-align:center;}
#main #section3 .wrap .container .text-wrap h2 {font-size:30px;font-weight:700;line-height:1.25em;margin-bottom:5px;}
#main #section3 .wrap .container .text-wrap h2 br {display:none;}
#main #section3 .wrap .container .text-wrap p {font-size:14px;font-weight:700;line-height:1.25em;margin-bottom:30px;font-family:'NanumGothic';letter-spacing:-1px;}
#main #section3 .wrap .container .text-wrap span {display:block;width:242px;margin:0 auto;}
#main #section3 .wrap .container .text-wrap span a {display:block;font-size:12px;line-height:1.417em;padding:10px 20px;border:1px solid #000;transition:all .3s;}
#main #section3 .wrap .container .text-wrap span a:hover {background:#000;color:#fff;}
#main #section3 .wrap .container .text-wrap span a:focus {background:#000;color:#fff;}

/* section4 */
#main #section4 {position:relative;width:100%;background:#f5f5f5;}
#main #section4 .wrap {padding:2% 0;}
#main #section4 .wrap .gap {padding:50px;}
#main #section4 .wrap .gap .container {width:100%;margin-top:120px;}
#main #section4 .wrap .gap .container ul {position:relative;width:100%;display:flex;flex-wrap:wrap;}
#main #section4 .wrap .gap .container ul li {width:25%;}
#main #section4 .wrap .gap .container ul li div {width:100%;}
#main #section4 .wrap .gap .container ul li div a {text-align:center;}
#main #section4 .wrap .gap .container ul li div a img {width:100%;transform:scale(.95);transition:all .3s;}
#main #section4 .wrap .gap .container ul li div a:hover img {transform:scale(1);}
#main #section4 .wrap .gap .container ul li div a:focus img {transform:scale(1);}
#main #section4 .wrap .gap .container ul li div a h2 {font-size:18px;font-weight:400;line-height:1.25em;color:#333;margin-top:15px;margin-bottom:10px;}
#main #section4 .wrap .gap .container ul li div a h2 br {display:none;}
#main #section4 .wrap .gap .container ul li div a p {font-size:13px;line-height:1.5em;color:#666;padding:0 30px;font-family:'NanumGothic';letter-spacing:-1px;}

/* footer */
#footer {z-index:1;position:relative;width:100%;height:590px;background:#fff;}
#footer .wrap {padding-top:100px;}
#footer .wrap .gap {margin:0 5%;padding-top:100px;border-top:1px solid #f5f5f5;}
#footer .wrap .gap .container {width:100%;}
#footer .wrap .gap .container .top {margin-bottom:50px;font-size:0;}
#footer .wrap .gap .container .top h2 {display:inline-block;padding-right:20px;font-size:0;}
#footer .wrap .gap .container .top h2 a {display:inline-block;}
#footer .wrap .gap .container .top h2 a img {width:auto;}
#footer .wrap .gap .container .top ul {display:inline-block;font-size:0;}
#footer .wrap .gap .container .top ul li {display:inline-block;padding-left:25px;}
#footer .wrap .gap .container .top ul li a {font-size:10px;font-weight:600;line-height:30px;color:#333;}
#footer .wrap .gap .container .top ul li a:hover {text-decoration:underline;}
#footer .wrap .gap .container .top ul li a:focus {text-decoration:underline;}

#footer .wrap .gap .container .mid {position:relative;margin-bottom:50px;}
#footer .wrap .gap .container .mid ul {margin-bottom:25px;}
#footer .wrap .gap .container .mid ul li {font-size:11px;line-height:15px;color:#333;margin-bottom:10px;font-family:'Lato';}
#footer .wrap .gap .container .mid ul li:nth-child(1) b {font-size:15px;font-weight:700;line-height:19px;font-family:'Montserrat';margin-right:0;}
#footer .wrap .gap .container .mid ul li b {margin-right:10px;}
#footer .wrap .gap .container .mid ul li span {display:inline-block;padding:0 5px;}
#footer .wrap .gap .container .mid ul li a {color:#fff;background:#000;border:1px solid #000;border-radius:3px;padding:5px 8px;margin-left:5px;transition:all .3s;}
#footer .wrap .gap .container .mid ul li a:hover {color:#000;background:#fff;}
#footer .wrap .gap .container .mid ul li a:focus {color:#000;background:#fff;}
#footer .wrap .gap .container .mid address {width:100%;}
#footer .wrap .gap .container .mid address span {display:block;font-size:11px;line-height:17px;color:#333;font-family:'Lato';}
#footer .wrap .gap .container .mid address span br {display:none;}
#footer .wrap .gap .container .mid address span .mail {display:inline-block;color:#333;margin-top:-3px;padding:0 5px;}
#footer .wrap .gap .container .mid address span .mail:hover {text-decoration:underline;}
#footer .wrap .gap .container .mid address span .mail:focus {text-decoration:underline;}
#footer .wrap .gap .container .mid address span a:last-child {color:#fff;background:#000;border:1px solid #000;border-radius:3px;padding:5px 8px;margin-left:5px;transition:all .3s;}
#footer .wrap .gap .container .mid address span a:last-child:hover {color:#000;background:#fff;}
#footer .wrap .gap .container .mid address span a:last-child:focus {color:#000;background:#fff;}
#footer .wrap .gap .container .mid address span b {display:inline-block;margin-top:-3px;padding-right:3px;}
#footer .wrap .gap .container .mid p {font-size:12px;font-weight:600;line-height:15px;color:#333;font-family:'Lato';margin:20px 0;}
#footer .wrap .gap .container .mid div {position:absolute;top:10px;right:10px;}
#footer .wrap .gap .container .mid div a {display:inline-block;margin:4px;}
#footer .wrap .gap .container .mid div a i {width:25px;height:25px;font-size:14px;line-height:25px;color:#fff;background:#000;text-align:center;border-radius:50%;transition:all .3s;}
#footer .wrap .gap .container .mid div a:nth-child(1):hover i {background:#5c84d7;transform:rotate(45deg);}
#footer .wrap .gap .container .mid div a:nth-child(1):focus i {background:#5c84d7;transform:rotate(45deg);}
#footer .wrap .gap .container .mid div a:nth-child(2):hover i {background:#bca292;transform:rotate(45deg);}
#footer .wrap .gap .container .mid div a:nth-child(2):focus i {background:#bca292;transform:rotate(45deg);}
#footer .wrap .gap .container .mid div a:nth-child(3):hover i {background:#44cb44;transform:rotate(45deg);}
#footer .wrap .gap .container .mid div a:nth-child(3):focus i {background:#44cb44;transform:rotate(45deg);}

#footer .wrap .gap .container .bot {width:100%;}
#footer .wrap .gap .container .bot ul {width:100%;display:flex;flex-wrap:wrap;}
#footer .wrap .gap .container .bot ul li {width:14.28571428571429%;text-align:center;line-height:50px;}
#footer .wrap .gap .container .bot ul li a {display:block;transition:all .3s;}
#footer .wrap .gap .container .bot ul li a:hover {transform:scale(1.1);}
#footer .wrap .gap .container .bot ul li a:focus {transform:scale(1.1);}
#footer .wrap .gap .container .bot ul li a img {width:auto;}

/* quick */
#quick {z-index:3;position:fixed;top:50%;right:10px;transform:translateY(-50%);}
#quick ul {width:100%;}
#quick ul li {display:block;width:30px;height:30px;margin:10px;text-align:center;}
#quick ul li a {display:block;font-size:12px;font-weight:700;line-height:30px;font-family:'Malgun Gothic';}
#quick ul li a:hover {font-size:18px;font-weight:700;color:#fff;}
#quick ul li a.addQuick {font-size:18px;font-weight:700;color:#fff;border-top:1px solid #fff;border-bottom:1px solid #fff;}