@charset "UTF-8";

* {margin:0;padding:0;border:0;vertical-align:middle;box-sizing:border-box;}
html, body {width:100%;height:100%;}
html {overflow-y:scroll;
    scrollbar-arrow-color:rgba(200, 200, 200, 0.5);
    scrollbar-Track-Color:#000;
    scrollbar-base-color:transparent;
    scrollbar-Face-Color:rgba(200, 200, 200, 0.5);
    scrollbar-3dLight-Color:transparent;
    scrollbar-DarkShadow-Color:transparent;
    scrollbar-Highlight-Color:transparent;
    scrollbar-Shadow-Color:transparent;
}
::-webkit-scrollbar {width:0;}
body {font:normal 13px/1 'Interstate','Roboto',sans-serif;font-weight:400;color:#fff;background:#000;}
ul, li {list-style:none;}
a, ins {text-decoration:none;color:#fff;font-family:'Interstate';}
h1,h2,h3,h4,h5,h6 {font-weight:500;font-size:13px;}
.clearfix::after {content:'';display:block;clear:both;}
.hide {display:none;}
.blind {display:block;text-indent:-2000px;overflow:hidden;}
header,main,footer,nav,section,aside {display:block;}
i,em,address {font-style:normal;}

/* 스킵메뉴 */
#skip {z-index:2;position:absolute;top:0;left:0;width:100%;}
#skip li {width:100%;}
#skip li a {display:block;line-height:0;font-size:0;text-align:center;background:#000;color:#fff;outline:0;}
#skip li a:focus {line-height:50px;font-size:20px;}

#wrap {z-index:1;position:relative;width:100%;overflow:auto;}

