@charset "UTF-8";
@media all and (max-width:1500px){
    #contact #section1 .wrap .container .left .text {font-size:240px;line-height:80px}
    #contact #section1 .wrap .container .right {height:980px;}
    #contact #section1 .wrap .container .right ul {margin-top:-325.047px;padding:0 15%;}
    #contact #section1 .wrap .container .right ul li {padding-left:50px;}
    #contact #section1 .wrap .container .right ul li:last-child {margin-bottom:0;}
    #contact #section1 .wrap .container .right ul .line {margin-top:15%;margin-bottom:17%;}
    #contact #section1 .wrap .container .right ul li h2 {margin-right:21%;}
    
    #contact #section2 .wrap .gap {padding:80px 57px 160px 57px;}
    #contact #section2 .wrap .gap .container ul li h2 {font-size:17px;line-height:145%;}

    #contact #section4 .wrap .gap {padding:0 5%;}
    #contact #section4 .wrap .gap .container {height:572px;}
    #contact #section4 .wrap .gap .container .left {float:left;width:66.66666667%;height:100%;padding:5%;padding-bottom:0;}
    #contact #section4 .wrap .gap .container .left ul .txt-wrap div {padding:0;}
    
    #main #section5 .wrap .container ul li > div .txt-wrap {left:10%;}
    #contact #section5 .wrap .gap .container ul {width:85%;}
}

@media all and (max-width:1300px){
    #contact #section1 .wrap .container .left {width:58.33333333%;}
    #contact #section1 .wrap .container .left .text {font-size:182px;letter-spacing:-18px;}
    #contact #section1 .wrap .container .right {width:41.66666667%;height:964.969px;}
}

@media all and (max-width:1200px){
    #main #section1 .slide-container .slide-view .slide-wrap .slide .bg .box .left {left:11%;width:45%;}
    #main #section1 .slide-container .slide-view .slide-wrap .slide .bg .box .right {right:10%;width:45%;}
    
    #main #section2 .wrap .gap .container ul li div {padding:10%;}
    #contact #section2 {padding-top:0;}
    #contact #section2 .wrap .gap {padding:90px 40px 107px 47px;}
    #contact #section2 .wrap .gap .container ul li h2 {font-size:16px;line-height:160%;}
    #contact #section2 .wrap .gap .container ul li i {margin-top:101px;}

    #contact #section3 {height:550px;}
    
    #main #section4 .wrap .gap {padding:90px 15px;}
    #main #section4 .wrap .gap .container ul li {width:33.333%;}
    
    #contact #section4 {height:700px;}
    #contact #section4 .wrap .gap .container .left {width:100%}
    #contact #section4 .wrap .gap .container .right {width:100%;margin-top:-5%;height:65%}
    #contact #section4 .wrap .gap .container .right div ul {padding:0 10%;margin-top:-80px;}
    #contact #section4 .wrap .gap .container .right div ul li i {margin-bottom:10px;}
    #contact #section4 .wrap .gap .container .right div ul li h2 {margin-bottom:10px;}
    #contact #section4 .wrap .gap .container .right div ul li p {margin-bottom:20px;}

    #main #section5 .wrap .container ul li > div .txt-wrap h2 {line-height:40px;font-size:38px;}
    #contact #section5 {height:230px;}
    #contact #section5 .wrap .gap .container ul li:nth-child(1) {width:17%;padding:0 2.5% 0 1.5%;}
    #contact #section5 .wrap .gap .container ul li:nth-child(2) {width:58%;padding:0 1.5%;}
    #contact #section5 .wrap .gap .container ul li:nth-child(3) {width:25%;padding:0 1.5%;}

    #main #section6 .wrap .gap {padding:90px 15px;}
    #main #section6 .wrap .gap .container ul li:nth-child(1) {top:0;left:0;width:33.333%;height:50%;}
    #main #section6 .wrap .gap .container ul li:nth-child(2) {top:0;left:33.333%;width:33.333%;height:50%;}
    #main #section6 .wrap .gap .container ul li:nth-child(3) {top:0;left:66.666%;width:33.333%;height:50%;}
    #main #section6 .wrap .gap .container ul li:nth-child(4) {top:50%;left:0;width:66.666%;height:50%;}
    #main #section6 .wrap .gap .container ul li > a .img-wrap {padding-bottom:90px;}
    #main #section6 .wrap .gap .container ul li > a .img-over {padding-bottom:90px;}
    #main #section6 .wrap .gap .container ul li .txt-wrap .txt-btn1 {top:85%;left:0;width:100%;text-align:center;}    
    #main #section6 .wrap .gap .container ul li .txt-wrap .txt-btn2 {display:none;}
    #main #section6 .wrap .gap .container ul li .txt-wrap .txt-btn3 {opacity:1;right:100px;bottom:90px;}
    #main #section6 .wrap .gap .container ul li .txt-wrap .txt-btn4 {opacity:1;right:55px;bottom:90px;}
    #main #section6 .wrap .gap .container ul li .txt-wrap .txt-btn5 {display:block;bottom:90px;}
    #main #section6 .wrap .gap .container ul li:last-child .txt-wrap .txt-btn3 {bottom:85px;}
    #main #section6 .wrap .gap .container ul li:last-child .txt-wrap .txt-btn4 {bottom:85px;}
    #main #section6 .wrap .gap .container ul li:last-child .txt-wrap .txt-btn5 {bottom:85px;}

    #main #section7 {height:490px;background-position-x:0;}
    #main #section7 .wrap .container .txt-wrap {width:42.465%;}
    #main #section7 .wrap .container .txt-wrap h2 {line-height:37px;font-size:35px;}
    
    #main #section8 .wrap .gap {padding:90px 15px;}
    #main #section8 .wrap .gap .container ul li {width:33.333%;}

    #footer .wrap {max-width:970px;}

    .modal-search .search-modal .search-wrap {margin-left:-35%;width:70%;}
}

@media all and (max-width:990px){
    #header .wrap .gap .right #nav {display:none;}
    #header .wrap .gap .right .mobile {display:inline-block;}

    #contact #section1 .wrap .container .left {width:100%;}
    #contact #section1 .wrap .container .left .bg {height:650px;}
    #contact #section1 .wrap .container .left .text {font-size:182px;letter-spacing:-18px;padding-bottom:50px;margin-top:-15px;margin-left:0px;text-align:center;}
    #contact #section1 .wrap .container .right {width:100%;height:784.25px;}
    #contact #section1 .wrap .container .right ul {margin-top:-276.797px;padding:0 9%;}
    #contact #section1 .wrap .container .right ul li {margin-bottom:30px;}
    #contact #section1 .wrap .container .right ul li:nth-child(6) {margin-bottom:40px;}
    #contact #section1 .wrap .container .right ul li:last-child {margin-bottom:0;}
    #contact #section1 .wrap .container .right ul .line {width:162.516px;margin:0;}
    #contact #section1 .wrap .container .right ul li h2 {margin-right:0;margin-top:10%;margin-bottom:40px;}
    #contact #section1 .wrap .container .right ul li a {padding:0 2%;}
    
    #main #section2 .wrap .gap .container ul li {width:50%;}
    #main #section2 .wrap .gap .container ul li div {padding:19%;}
    #contact #section2 .wrap .gap {padding:80px 3%;}
    #contact #section2 .wrap .gap .container ul li:nth-child(1) {padding:0 15px;width:50%;}
    #contact #section2 .wrap .gap .container ul li:nth-child(2) {padding:0 15px;width:50%;}
    #contact #section2 .wrap .gap .container ul li:nth-child(3) {padding:0 15px;width:33.333%;}
    #contact #section2 .wrap .gap .container ul li:nth-child(4) {padding:0 15px;width:33.333%;}
    #contact #section2 .wrap .gap .container ul li:nth-child(5) {padding:0 15px;width:33.333%;}
    #contact #section2 .wrap .gap .container ul li h2 {font-size:16px;line-height:160%;margin-bottom:40px;}
    #contact #section2 .wrap .gap .container ul li i {margin-top:50px;margin-bottom:29px;}
    #contact #section2 .wrap .gap .container ul li div {line-height:22px;}

    #contact #section3 {height:450px;}
    
    #main #section5 .wrap .container ul li > div .txt-wrap h3 {line-height:22px;font-size:14px;}
    #main #section5 .wrap .container ul li > div .txt-wrap h2 {line-height:32px;font-size:30px;}
    #contact #section5 .wrap .gap .container ul li:nth-child(1) {width:17%;padding:0 2.5% 0 1.5%;}
    #contact #section5 .wrap .gap .container ul li:nth-child(2) {width:53%;padding:0 1.5%;}
    #contact #section5 .wrap .gap .container ul li:nth-child(3) {width:30%;padding:0 1.5%;}

    #main #section7 {height:475px;}
    #main #section7 .wrap .container .txt-wrap {width:52.455%;}
    #main #section7 .wrap .container .txt-wrap h2 {line-height:32px;font-size:30px;}
    
    #main #section8 .wrap .gap .container ul li {width:50%;}
    
    #footer .wrap {max-width:750px;}
    #footer .wrap .container > div > ul > li {width:25%;}
    #footer .wrap .container .top > ul > li:nth-child(1) div p {margin-right:0;}
    #footer .wrap .container .top > ul > li:nth-child(5) {width:100%;}
    #footer .wrap .container .top > ul > li:nth-child(5) div h3 {display:none;}
    #footer .wrap .container .top > ul > li:nth-child(5) div ul {margin-top:30px;}
    #footer .wrap .container .top > ul > li:nth-child(5) div ul li:nth-child(1) {width:20%;}
    #footer .wrap .container .top > ul > li:nth-child(5) div ul li {width:20%;}
    #footer .wrap .container .mid > ul > li:nth-child(1) {width:50%;}
    #footer .wrap .container .mid > ul > li:nth-child(1) > div ul li > a {width:15%;margin-top:1%;margin-right:4%;}
    #footer .wrap .container .mid > ul > li:nth-child(2) {margin-bottom:30px;}
    #footer .wrap .container .mid > ul > li:nth-child(3) {margin-bottom:30px;}
    #footer .wrap .container .mid > ul > li:nth-child(4) {margin-top:40px;}
    #footer .wrap .container .mid > ul > li:nth-child(5) {width:75%;margin-top:40px;}

    #main #section6 .wrap .gap .container ul li .txt-wrap .txt-btn1 {top:80%;}

    #quick {display:none;}
}

@media all and (max-width:990px) and (orientation:landscape){
    #main #section1 .slide-container .slide-view .slide-wrap .slide .bg .box .left {left:18%;width:35%;}
    #main #section1 .slide-container .slide-view .slide-wrap .slide .bg .box .left .txt-wrap p {padding-right:22%;}
    #main #section1 .slide-container .slide-view .slide-wrap .slide .bg .box .right {right:17%;width:35%;}
}

@media all and (max-width:850px){
    #contact #section4 {height:650px;}
    #contact #section4 .wrap .gap .container {height:500px;}
    #contact #section4 .wrap .gap .container .left {width:100%}
    #contact #section4 .wrap .gap .container .left ul .txt-wrap {width:35%;}
    #contact #section4 .wrap .gap .container .left ul .txt-wrap div h2 {margin-right:10%;}
    #contact #section4 .wrap .gap .container .left ul .txt-wrap div p {margin-right:10%;}
    #contact #section4 .wrap .gap .container .left ul .txt-wrap div span {margin-right:10%;}
    #contact #section4 .wrap .gap .container .left ul .form {width:65%;}
    #contact #section4 .wrap .gap .container .right {width:100%;margin-top:-5%;height:65%}
    #contact #section4 .wrap .gap .container .right div ul {padding:0 5%;margin-top:-92.5px;}
}

@media all and (max-width:770px){
    #header .wrap .gap .right #aside div > span:nth-child(3) {display:none;}

    #contact #section1 .wrap .container .left .bg {height:500px;}
    #contact #section1 .wrap .container .left .text {font-size:60px;letter-spacing:0;padding-top:10px;padding-bottom:15px;margin-top:0;}
    #contact #section1 .wrap .container .right {height:725.406px;}

    #contact #section2 .wrap .gap {padding:50px 15px;}
    #contact #section2 .wrap .gap .container ul li:nth-child(1) {width:100%;}
    #contact #section2 .wrap .gap .container ul li:nth-child(2) {width:100%;}
    #contact #section2 .wrap .gap .container ul li:nth-child(3) {width:100%;}
    #contact #section2 .wrap .gap .container ul li:nth-child(4) {width:100%;}
    #contact #section2 .wrap .gap .container ul li:nth-child(5) {width:100%;}
    #contact #section2 .wrap .gap .container ul li h2 {font-size:16px;line-height:160%;margin-bottom:0;margin-right:18%;}
    #contact #section2 .wrap .gap .container ul li i {margin:30px 0;width:85%;line-height:0;}
    #contact #section2 .wrap .gap .container ul li span {padding-bottom:5px;}
    #contact #section2 .wrap .gap .container ul li div {margin-bottom:30px;}

    #main #section3 .wrap .container ul:nth-child(1) {width:100%;}
    #main #section3 .wrap .container ul:nth-child(2) {width:100%;}
    #contact #section3 {height:350px;}

    #main #section4 .wrap .gap .container ul li {width:50%;}

    #contact #section4 {height:1100px;}
    #contact #section4 .wrap .gap {padding:0;}
    #contact #section4 .wrap .gap .container {height:770px;}
    #contact #section4 .wrap .gap .container .left {width:100%}
    #contact #section4 .wrap .gap .container .left ul .txt-wrap {width:100%;}
    #contact #section4 .wrap .gap .container .left ul .txt-wrap div i {width:30%;margin-bottom:15px;}
    #contact #section4 .wrap .gap .container .left ul .txt-wrap div h2 {margin-right:0;margin-bottom:15px;}
    #contact #section4 .wrap .gap .container .left ul .txt-wrap div p {margin-right:10%;margin-bottom:10px;}
    #contact #section4 .wrap .gap .container .left ul .txt-wrap div span {margin-right:0;}
    #contact #section4 .wrap .gap .container .left ul .txt-wrap div h3 {padding-top:20px;font-size:60px;margin:0;line-height:60px;letter-spacing:0px;}
    #contact #section4 .wrap .gap .container .left ul .form {width:100%;height:70%;top:29%;}
    #contact #section4 .wrap .gap .container .left ul .form > div {margin-top:-207.328px;padding:0 5%;}
    #contact #section4 .wrap .gap .container .left ul .form > div h2 {margin-bottom:20px;}
    #contact #section4 .wrap .gap .container .left ul .form > div form ul li {margin-bottom:15px;}
    #contact #section4 .wrap .gap .container .left ul .form > div form ul li:nth-child(4) {margin-bottom:30px;}
    #contact #section4 .wrap .gap .container .right {width:100%;margin-top:-5%;height:45%}
    #contact #section4 .wrap .gap .container .right div ul {padding:0 5%;margin-top:-90px;}
    #contact #section4 .wrap .gap .container .right div ul li i {margin-bottom:10px;}
    #contact #section4 .wrap .gap .container .right div ul li h2 {margin-bottom:10px;}
    #contact #section4 .wrap .gap .container .right div ul li p {margin-bottom:20px;}

    #main #section5 .wrap .container ul li {width:100%;}
    #main #section5 .wrap .container ul li > div .txt-wrap h3 {line-height:24px;font-size:16px;}
    #main #section5 .wrap .container ul li > div .txt-wrap h2 {line-height:38px;font-size:42px;}
    #main #section5 .wrap .container ul li > div .txt-wrap h4 {margin-top:8.823%;}
    #contact #section5 {height:196px;}
    #contact #section5 .wrap .gap .container {margin-top:-44.7265px;}
    #contact #section5 .wrap .gap .container ul {width:90%;}
    #contact #section5 .wrap .gap .container ul li:nth-child(1) {display:none;}
    #contact #section5 .wrap .gap .container ul li:nth-child(2) {width:100%;padding:0;text-align:center;}
    #contact #section5 .wrap .gap .container ul li:nth-child(3) {width:100%;padding:0;text-align:center;}
    #contact #section5 .wrap .gap .container ul li h2 {font-size:17px;line-height:130%;}

    #main #section6 .wrap .gap .container ul li:nth-child(1) {top:0;left:0;width:50%;height:25%;}
    #main #section6 .wrap .gap .container ul li:nth-child(2) {top:0;left:50%;width:50%;height:25%;}
    #main #section6 .wrap .gap .container ul li:nth-child(3) {top:27%;left:0;width:100%;height:50%;}
    #main #section6 .wrap .gap .container ul li:nth-child(4) {top:75%;left:0;width:100%;height:25%;}
    #main #section6 .wrap .gap .container ul li:nth-child(3) > a .img-wrap {padding-bottom:150px;}
    #main #section6 .wrap .gap .container ul li:nth-child(3) > a .img-over {padding-bottom:150px;}
    
    #main #section6 .wrap .gap .container ul li .txt-wrap .txt-btn1 {top:85%;}    
    #main #section6 .wrap .gap .container ul li .txt-wrap .txt-btn3 {bottom:85px;}
    #main #section6 .wrap .gap .container ul li .txt-wrap .txt-btn4 {bottom:85px;}
    #main #section6 .wrap .gap .container ul li .txt-wrap .txt-btn5 {bottom:85px;}
    #main #section6 .wrap .gap .container ul li:nth-child(3) .txt-wrap .txt-btn3 {bottom:150px;}
    #main #section6 .wrap .gap .container ul li:nth-child(3) .txt-wrap .txt-btn4 {bottom:150px;}
    #main #section6 .wrap .gap .container ul li:nth-child(3) .txt-wrap .txt-btn5 {bottom:150px;}
    #main #section6 .wrap .gap .container ul li:nth-child(4) .txt-wrap .txt-btn3 {bottom:80px;}
    #main #section6 .wrap .gap .container ul li:nth-child(4) .txt-wrap .txt-btn4 {bottom:80px;}
    #main #section6 .wrap .gap .container ul li:nth-child(4) .txt-wrap .txt-btn5 {bottom:80px;}

    #main #section7 {height:426px;}
    #main #section7 .wrap .container .txt-wrap {width:83.4%;}
    #main #section7 .wrap .container .txt-wrap h2 {line-height:30px;font-size:25px;}

    #footer .wrap {text-align:center;max-width:550px;}
    #footer .wrap .container > div > ul > li {width:50%;}
    #footer .wrap .container .top > ul > li:nth-child(1) {width:50%;margin-bottom:40px;}
    #footer .wrap .container .top > ul > li:nth-child(2) {margin-bottom:40px;}
    #footer .wrap .container .top > ul > li:nth-child(5) div ul {margin-top:40px;}
    #footer .wrap .container .mid {padding-top:40px;}
    #footer .wrap .container .mid > ul > li:nth-child(1) {margin-bottom:40px;}
    #footer .wrap .container .mid > ul > li:nth-child(1) > div ul {text-align:left;margin:0 auto;}
    #footer .wrap .container .mid > ul > li:nth-child(1) > div ul li > a {width:21%;margin-top:1%;margin-right:6%;}
    #footer .wrap .container .mid > ul > li:nth-child(1) > div ul li div {width:73%;}
    #footer .wrap .container .mid > ul > li:nth-child(2) {margin-bottom:70px;}
    #footer .wrap .container .mid > ul > li:nth-child(3) {margin-bottom:40px;}
    #footer .wrap .container .mid > ul > li:nth-child(4) {margin-top:0;margin-bottom:40px;}
    #footer .wrap .container .mid > ul > li:nth-child(5) {width:100%;margin-top:0;}
    
    .modal-search .search-modal {height:250px;}
    .modal-search .search-modal .search-wrap {margin-top:-36.5px;margin-left:-45%;width:90%;}
    .modal-search .search-modal .search-wrap span {line-height:22px;margin-bottom:5px;}
    .modal-search .search-modal .search-wrap input {font-size:18px;padding:5px 30px 4px 2px;border-bottom:1px solid #232323;outline:0;box-sizing:border-box;}
    .modal-search .search-modal .search-wrap .modal-search-btn {bottom:13px;}
}

@media all and (max-width:770px) and (orientation:landscape){
    #main #section1 .slide-container .slide-view .slide-wrap .slide .bg .box .left {left:16%;width:35%;}
    #main #section1 .slide-container .slide-view .slide-wrap .slide .bg .box .left .txt-wrap p {padding-right:5%;}
    #main #section1 .slide-container .slide-view .slide-wrap .slide .bg .box .right {right:15%;width:32%;}
}

@media all and (max-width:700px){
    #contact #section5 {height:220px;}
    #contact #section5 .wrap .gap .container {margin-top:-54.8985px;}
    #contact #section5 .wrap .gap .container ul {width:80%;}
}

@media all and (max-width:600px) and (orientation:landscape){
    #main #section1 .slide-container .slide-view .slide-wrap .slide .bg .box .left {left:16%;width:40%;}
    #main #section1 .slide-container .slide-view .slide-wrap .slide .bg .box .left .txt-wrap p {padding-right:3%;}
    #main #section1 .slide-container .slide-view .slide-wrap .slide .bg .box .right {right:15%;width:33%;}
}

@media all and (max-width:550px){
    #main #section1 .slide-container .slide-view .slide-wrap .slide .bg .box .left {left:20%;width:60%;text-align:center;}
    #main #section1 .slide-container .slide-view .slide-wrap .slide .bg .box .left .txt-wrap p {padding-left:5%;padding-right:5%;}
    #main #section1 .slide-container .slide-view .slide-wrap .slide .bg .box .right {right:20%;width:70%;}

    #contact #section1 .wrap .container .left .bg {height:300px;}

    #contact #section1 .wrap .container .right {height:600px;}
    #contact #section1 .wrap .container .right ul {margin-top:-231.211px;padding:0 7%;}
    #contact #section1 .wrap .container .right ul li {margin-bottom:15px;}
    #contact #section1 .wrap .container .right ul li:nth-child(6) {margin-bottom:30px;}
    #contact #section1 .wrap .container .right ul li h2 {margin-top:30px;margin-bottom:30px;}
    #contact #section1 .wrap .container .right ul li a {padding:0 1%;}

    #main #section2 .wrap .gap .container ul li {width:100%;}
    #main #section2 .wrap .gap .container ul li div {padding:0 25%;margin-bottom:20px;}
    #main #section2 .wrap .gap .container ul li:last-child div {margin-bottom:0;}

    #main #section3 .wrap .container ul:nth-child(2) li {width:100%;}
    
    #main #section4 .wrap .gap {padding:63px 15px;}
    #main #section4 .wrap .gap .container ul li {width:100%;}

    #contact #section3 .bg {background-attachment:scroll;}

    #contact #section4 {height:1050px;}
    #contact #section4 .wrap .gap .container {height:700px;}
    #contact #section4 .wrap .gap .container .left ul .txt-wrap div i {width:40%;}
    #contact #section4 .wrap .gap .container .left ul .txt-wrap div h2 {margin-right:9%;}
    #contact #section4 .wrap .gap .container .left ul .txt-wrap div h3 {padding-top:20px;font-size:45px;line-height:50px;}
    #contact #section4 .wrap .gap .container .left ul .form {height:68%;top:35%;}
    #contact #section4 .wrap .gap .container .left ul .form > div {margin-top:-187.594px;}

    #contact #section4 .wrap .gap .container .right {width:100%;height:50%}
    #contact #section4 .wrap .gap .container .right div ul {margin-top:-110px;}
    #contact #section4 .wrap .gap .container .right div ul li i {margin-bottom:10px;}
    #contact #section4 .wrap .gap .container .right div ul li h2 {margin-bottom:10px;}
    #contact #section4 .wrap .gap .container .right div ul li p {margin-bottom:10px;}
    
    #main #section5 .wrap .container ul li > div .txt-wrap {width:39.242%;}
    #main #section5 .wrap .container ul li > div .txt-wrap h3 {line-height:22px;font-size:14px;}
    #main #section5 .wrap .container ul li > div .txt-wrap h2 {line-height:28px;font-size:25px;}
    #main #section5 .wrap .container ul li > div .txt-wrap h4 {margin-top:8.823%;}
    #contact #section5 {height:244px;}
    #contact #section5 .wrap .gap .container {margin-top:-61.344px;}
    #contact #section5 .wrap .gap .container ul {width:80%;}
    
    #main #section6 .wrap .gap {padding:63px 15px;margin-bottom:-50%;}
    #main #section6 .wrap .gap .container ul li:nth-child(1) {top:0;left:0;width:100%;height:25%;}
    #main #section6 .wrap .gap .container ul li:nth-child(2) {top:25%;left:0;width:100%;height:25%;}
    #main #section6 .wrap .gap .container ul li:nth-child(3) {top:50%;left:0;width:100%;height:25%;}
    #main #section6 .wrap .gap .container ul li:nth-child(4) {top:75%;left:0;width:100%;height:12.5%;}
    #main #section6 .wrap .gap .container ul li:nth-child(3) > a .img-wrap {padding-bottom:90px;}
    #main #section6 .wrap .gap .container ul li:nth-child(3) > a .img-over {padding-bottom:90px;}
    #main #section6 .wrap .gap .container ul li .txt-wrap .txt-btn1 {top:86%;}
    #main #section6 .wrap .gap .container ul li .txt-wrap .txt-btn3 {bottom:90px;}
    #main #section6 .wrap .gap .container ul li .txt-wrap .txt-btn4 {bottom:90px;}
    #main #section6 .wrap .gap .container ul li .txt-wrap .txt-btn5 {bottom:90px;}
    #main #section6 .wrap .gap .container ul li:nth-child(3) .txt-wrap .txt-btn3 {bottom:90px;}
    #main #section6 .wrap .gap .container ul li:nth-child(3) .txt-wrap .txt-btn4 {bottom:90px;}
    #main #section6 .wrap .gap .container ul li:nth-child(3) .txt-wrap .txt-btn5 {bottom:90px;}
    #main #section6 .wrap .gap .container ul li:nth-child(4) .txt-wrap .txt-btn3 {bottom:50px;}
    #main #section6 .wrap .gap .container ul li:nth-child(4) .txt-wrap .txt-btn4 {bottom:50px;}
    #main #section6 .wrap .gap .container ul li:nth-child(4) .txt-wrap .txt-btn5 {bottom:50px;}

    #main #section7 {height:490px;}
    #main #section7 .wrap .container .txt-wrap p {margin-right:0;}
    
    #main #section8 .wrap .gap {padding:63px 15px;}
    #main #section8 .wrap .gap .container ul li {width:100%;}
    
    #footer .wrap .container .top > ul > li:nth-child(1) {width:100%;}
    #footer .wrap .container .top > ul > li:nth-child(2) {width:100%;}
    #footer .wrap .container .top > ul > li:nth-child(3) {width:100%;margin-bottom:40px;}
    #footer .wrap .container .top > ul > li:nth-child(4) {width:100%;}
    #footer .wrap .container .mid > ul > li:nth-child(1) {width:100%;}
    #footer .wrap .container .mid > ul > li:nth-child(1) > div ul {max-width:260px;}
    #footer .wrap .container .mid > ul > li:nth-child(2) {width:100%;margin-bottom:40px;}
    #footer .wrap .container .mid > ul > li:nth-child(3) {width:100%;}
    #footer .wrap .container .mid > ul > li:nth-child(4) {width:100%;}

    .modal-search .modal-close {width:25px;height:25px;}
    .modal-search .modal-close .modal-close-btn {line-height:25px;}
}

@media all and (max-width:400px){
    #contact #section4 {height:1150px;}
    #contact #section4 .wrap .gap .container {height:750px;}

    #main #section6 .wrap .gap .container ul li .txt-wrap .txt-btn1 {top:82%;}

    .modal-product {bottom:15px;left:15px;}
    .modal-product .product-wrap {width:250px;}
}

@media all and (max-width:320px){
    #main #section1 .slide-container .slide-view .slide-wrap .slide .bg .box .left {left:25%;width:50%;text-align:center;}
    #main #section1 .slide-container .slide-view .slide-wrap .slide .bg .box .left .txt-wrap p {padding-left:0;padding-right:0;}
    #main #section1 .slide-container .slide-view .slide-wrap .slide .bg .box .right {right:25%;width:60%;}
}