@charset "UTF-8";

/* header */
#header {z-index:3;position:relative;width:100%;}
#header .header-wrap {width:100%;height:179px;}
#header .header-wrap > ul {width:100%;}
#header .header-wrap > ul > li {width:100%;}

/* aside */
#header .header-wrap > ul > li:nth-child(1) {height:29px;background:#f49bba;}
#header .header-wrap > ul > li:nth-child(1) #aside {width:1200px;height:100%;margin:0 auto;}
#header .header-wrap > ul > li:nth-child(1) #aside > ul {border-left:1px solid #fff;}
#header .header-wrap > ul > li:nth-child(1) #aside > ul > li {float:left;border-right: 1px solid #fff;}
#header .header-wrap > ul > li:nth-child(1) #aside > ul > li > a {display:block;line-height:29px;font-size:13px;font-weight:600;color:#fff;padding:0 25px;transition:all .5s;}
#header .header-wrap > ul > li:nth-child(1) #aside > ul > li > a:hover {background:rgba(255,255,255,.6);color:#f37eaf;font-weight:800;}

/* logo */
#header .header-wrap > ul > li:nth-child(2) {height:102px;background:#fff;}
#header .header-wrap > ul > li:nth-child(2) > ul {width:1200px;height:100%;margin:0 auto;}
#header .header-wrap > ul > li:nth-child(2) > ul > li {float:left;}
#header .header-wrap > ul > li:nth-child(2) > ul > li:nth-child(1) {width:980px;}
#header .header-wrap > ul > li:nth-child(2) > ul > li:nth-child(1) .logo {width:100%;}
#header .header-wrap > ul > li:nth-child(2) > ul > li:nth-child(1) .logo > h1 {margin:27.5px 280px 27.5px 500px;}
#header .header-wrap > ul > li:nth-child(2) > ul > li:nth-child(1) .logo > h1 > a {display:block;}
#header .header-wrap > ul > li:nth-child(2) > ul > li:nth-child(1) .logo > h1 > a > img {width:200px;height:47px;}

/* search */
#header .header-wrap > ul > li:nth-child(2) > ul > li:nth-child(2) {width:220px;}
#header .header-wrap > ul > li:nth-child(2) > ul > li:nth-child(2) .search {width:100%;height:30px;margin:15px 0 57px 0;background:#ffe7e5;}
#header .header-wrap > ul > li:nth-child(2) > ul > li:nth-child(2) .search > input {float:left;width:170px;height:30px;line-height:30px;padding:0 5px;background:transparent;font-size:12px;color:#a1a1a1;letter-spacing:-0.6px;}
#header .header-wrap > ul > li:nth-child(2) > ul > li:nth-child(2) .search > a {float:right;display:block;width:40px;height:30px;background:url(../img/pc_srch_btn.png) no-repeat 50% 50%;}

/* nav */
#header .header-wrap > ul > li:nth-child(3) {height:45px;border-top:1px solid #1e1e1e;border-bottom:2px solid #e1425d;background:#fff;overflow:hidden;}
#header .header-wrap > ul > li:nth-child(3) #nav {width:100%;}
#header .header-wrap > ul > li:nth-child(3) #nav > ul {width:495px;margin:0 auto;}
#header .header-wrap > ul > li:nth-child(3) #nav > ul > li {float:left;text-align:center;width:165px;}
#header .header-wrap > ul > li:nth-child(3) #nav > ul > li > a {position:relative;display:block;line-height:45px;font-size:15px;font-weight:800;color:#4a4a4a;transition:opacity .5s}
#header .header-wrap > ul > li:nth-child(3) #nav > ul:hover > li > a {opacity:.4;}
#header .header-wrap > ul > li:nth-child(3) #nav > ul > li:hover > a {opacity:1;}
#header .header-wrap > ul > li:nth-child(3) #nav > ul > li:hover > a:after {content:'';position:absolute;bottom:5px;left:50%;margin-left:-25px;display:block;width:50px;height:3px;background:#ee427c;border-radius:10px;}

/* sub */
#header .header-wrap > ul > li:nth-child(3) #nav > ul > li .sub {width:100%;}
#header .header-wrap > ul > li:nth-child(3) #nav > ul > li .sub > ul {width:100%;}
#header .header-wrap > ul > li:nth-child(3) #nav > ul > li .sub > ul > li {width:100%;}
#header .header-wrap > ul > li:nth-child(3) #nav > ul > li .sub > ul > li > a {line-height:26px;font-size:14px;font-weight:500;color:#8c8c8c;transition:all .5s;padding:4px 8px;}
#header .header-wrap > ul > li:nth-child(3) #nav > ul > li .sub > ul > li > a:hover {color:#6c6c6c;background:#ffe7e5;}

/* main */
#main {z-index:2;position:relative;width:100%;}
#main #section1 {width:100%;height:1951.3px;padding-top:60px;background:#fff;}
#main #section1 .sec1-wrap {width:1000px;height:1821.3px;padding-bottom:130px;margin:0 auto;}
#main #section1 .sec1-wrap .left-wrap {float:left;width:230px;height:100%;}
#main #section1 .sec1-wrap .left-wrap .brand-lnb {width:200px;height:198px;margin:130px 30px 1493.3px 0;}
#main #section1 .sec1-wrap .left-wrap .brand-lnb > div {width:200px;height:53px;background:#ee427c url(../img/pc_hgroup_h2_bg.png) no-repeat 50% 50%;background-size:cover;}
#main #section1 .sec1-wrap .left-wrap .brand-lnb > div > h2 {text-align:center;line-height:53px;font-size:20px;font-weight:400;color:#fff;}
#main #section1 .sec1-wrap .left-wrap .brand-lnb > ul {width:100%;height:124px;margin-top:21px;}
#main #section1 .sec1-wrap .left-wrap .brand-lnb > ul > li {width:190px;height:30px;padding:0 5px;border-bottom:1px solid #dcdcdc;}
#main #section1 .sec1-wrap .left-wrap .brand-lnb > ul > li > a {display:block;line-height:30px;font-size:14px;font-weight:600;color:#1e1e1e;transition:all .5s;}
#main #section1 .sec1-wrap .left-wrap .brand-lnb > ul > li > a:hover {color:#e1425d;}
#main #section1 .sec1-wrap .left-wrap .brand-lnb > ul > li > a.addOn {color:#e1425d;}
#main #section1 .sec1-wrap .right-wrap {float:left;width:770px;height:100%;}
#main #section1 .sec1-wrap .right-wrap .right-top {width:100%;height:54px;padding-bottom:13px;border-bottom:2px solid #1e1e1e;}
#main #section1 .sec1-wrap .right-wrap .right-top > h2 {display:block;line-height:34px;font-size:24px;font-weight:600;color:#1e1e1e;}
#main #section1 .sec1-wrap .right-wrap .right-top > h3 {display:block;line-height:20px;font-size:12px;font-weight:600;color:#8c8c8c;}
#main #section1 .sec1-wrap .right-wrap .right-middle {width:100%;height:40px;margin-bottom:20px;text-align:right;}
#main #section1 .sec1-wrap .right-wrap .right-middle > span {display:inline-block;font-size:11px;line-height:40px;}
#main #section1 .sec1-wrap .right-wrap .right-middle > i {display:inline-block;line-height:40px;}
#main #section1 .sec1-wrap .right-wrap .right-middle > i > img {width:18px;height:10px;}
#main #section1 .sec1-wrap .right-wrap .right-bottom {width:100%;height:1692.3px;}
#main #section1 .sec1-wrap .right-wrap .right-bottom > ul {width:260px;height:35px;margin:0 auto;text-align:center;}
#main #section1 .sec1-wrap .right-wrap .right-bottom > ul > li {float:left;display:block;width:128px;height:33px;border:1px solid #dcdcdc;background:#f0f0f0;transition:all .5s;}
#main #section1 .sec1-wrap .right-wrap .right-bottom > ul > li:hover {border:1px solid #1e1e1e;background:#fff;}
#main #section1 .sec1-wrap .right-wrap .right-bottom > ul > li.addOn {border:1px solid #1e1e1e;background:#fff;}
#main #section1 .sec1-wrap .right-wrap .right-bottom > ul > li > a {display:block;line-height:33px;font-size:12px;font-weight:600;color:#8c8c8c;transition:all .5s;}
#main #section1 .sec1-wrap .right-wrap .right-bottom > ul > li:hover > a {color:#1e1e1e;}
#main #section1 .sec1-wrap .right-wrap .right-bottom > ul > li.addOn > a {color:#1e1e1e;}
#main #section1 .sec1-wrap .right-wrap .right-bottom > p {width:100%;height:1637.3px;margin-top:20px;}
#main #section1 .sec1-wrap .right-wrap .right-bottom > p > img {width:100%;}

/* footer */
#footer {z-index:1;position:relative;width:100%;height:170px;}
#footer .row1 {width:100%;height:30px;padding:10px 0;background:#ddd;}
#footer .row1 .row1-wrap {width:1200px;margin:0 auto;text-align:right;}
#footer .row1 .row1-wrap > span {position:relative;display:inline-block;line-height:30px;margin-right:11.5px;padding:0 39px 0 19px;font-size:14px;font-weight:600;color:#5f5f5f;letter-spacing:0;}
#footer .row1 .row1-wrap > span:after {position:absolute;top:12px;right:12px;content:'';display:block;border:4px solid transparent;border-left:6px solid #5f5f5f;width:0;height:0;}
#footer .row1 .row1-wrap > ul {display:inline-block;}
#footer .row1 .row1-wrap > ul > li {position:relative;display:inline-block;}
#footer .row1 .row1-wrap > ul > li:after {position:absolute;top:9px;right:-2px;content:'';display:block;background:#5f5f5f;width:1px;height:13px;}
#footer .row1 .row1-wrap > ul > li:last-child:after {display:none;}
#footer .row1 .row1-wrap > ul > li > a {line-height:30px;margin:0 8.6px;font-size:14px;color:#5f5f5f;}
#footer .row1 .row1-wrap > ul > li:last-child > a {margin-right:0;}
#footer .row2 {width:100%;height:120px;background:#ededed;}
#footer .row2 .row2-wrap {width:1200px;margin:0 auto;}
#footer .row2 .row2-wrap .logo {float:left;width:160px;height:120px;}
#footer .row2 .row2-wrap .logo > h2 {height:30px;padding:44px 0 46px 0;}
#footer .row2 .row2-wrap .logo > h2 > img {width:133px;height:30px;}
#footer .row2 .row2-wrap > address {float:left;width:800px;height:44px;padding:36px 0 40px 0;}
#footer .row2 .row2-wrap > address > span {display:block;line-height:22px;font-size:14px;color:#5f5f5f;}
#footer .row2 .row2-wrap .call-center {float:left;width:240px;height:71px;padding:32px 0 17px 0;text-align:right;}
#footer .row2 .row2-wrap .call-center .call {height:24px;margin-bottom:3px;}
#footer .row2 .row2-wrap .call-center .call > dt {display:inline-block;line-height:24px;font-size:20px;font-weight:600;color:#7a7a7a;margin-right:3px;}
#footer .row2 .row2-wrap .call-center .call > dd {display:inline-block;line-height:24px;font-size:20px;font-weight:600;color:#964a78;}
#footer .row2 .row2-wrap .call-center .call-time {height:44px;}
#footer .row2 .row2-wrap .call-center .call-time > dt {display:inline-block;line-height:22px;font-size:14px;color:#5f5f5f;margin-right:3px;}
#footer .row2 .row2-wrap .call-center .call-time > dd {display:inline-block;line-height:22px;font-size:14px;color:#5f5f5f;font-weight:600;}

/* quick menu */
#quick {z-index:3;position:fixed;top:200px;right:256px;width:80px;text-align:center;border-radius:10px;background:#ee427c;}
#quick > h2 {display:inline-block;width:80px;line-height:26px;}
#quick > h2 > img {width:66px;height:15px;}
#quick > ul {width:78px;height:344px;margin:0 1px;}
#quick > ul > li {width:100%;height:50px;padding:15px 0;border-top:1px solid #ee427c;background:#fff;transition:all .5s;}
#quick > ul > li:nth-child(1) {height:71px;border-top:0;}
#quick > ul > li > a {display:block;width:50px;margin:0 auto;}
#quick > ul > li > a > i {display:block;width:50px;height:50px;transition:all .5s;}
#quick > ul > li > a:hover > i {transform:scale(1.1, 1.1);}
#quick > ul > li:nth-child(1) > a > i {background:url(../img/pc_clubclio.png) no-repeat 50% 50%;background-size:cover;}
#quick > ul > li:nth-child(2) > a > i {background:url(../img/pc_facebook.png) no-repeat 50% 50%;background-size:cover;}
#quick > ul > li:nth-child(3) > a > i {background:url(../img/pc_instagram.png) no-repeat 50% 50%;background-size:cover;}
#quick > ul > li:nth-child(4) > a > i {background:url(../img/pc_youtube.png) no-repeat 50% 50%;background-size:cover;}
#quick > ul > li > a > span {display:block;line-height:16px;padding-top:5px;font-size:13px;font-weight:600;}
#quick .goTop-btn {display:block;line-height:26px;font-size:18px;color:#fff;}

/* w3c */
#w3c {z-index:3;position:fixed;bottom:0;left:0;}